parameters:
    excludes_analyse:
        - public/
        - scripts/

    ignoreErrors:
        - '#Joindin\\Api\\Test\\Mock\\mockPDO::__construct\(\) does not call parent constructor from PDO\.#'

    inferPrivatePropertyTypeFromConstructor: true

    level: 4

    paths:
        - inc
        - src
        - tests
