includes:
    - phpstan-baseline.neon

parameters:
    excludes_analyse:
        - public/
        - scripts/

    inferPrivatePropertyTypeFromConstructor: true

    level: max

    paths:
        - inc
        - src
        - tests
