<?php

$config =  array(
    'mode' => 'development',
    'oauth' => array(
        'password_client_ids' => array(
            'web2',
        )
    ),
    'email' => array(
        'from' => 'info@joind.in',
        'forward_all_to' => false
    ),
);
